[user]
	email = austin.keller.ic@smartsheet.com
	name = Austin Keller
[push]
	default = current
[core]
	autocrlf = false
	pager = diff-highlight | less
[color]
	ui = always
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

