[user]
  email = austin.keller@smartsheet.com
  name = Austin Keller
[push]
  default = current
[core]
  autocrlf = false
  pager = diff-highlight | less
[color]
  ui = always
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[alias]
  lg = !"git lg1-specific"
  lga = !"git lg1-specific --all"
  lgas = !"git lga --simplify-by-decoration"
  lg1 = !"git lg1-specific"
  lg2 = !"git lg2-specific"
  lg3 = !"git lg3-specific"
  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(dim white)<%an>%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

  co = checkout
  cob = checkout -b
  coo = !git fetch && git checkout
  br = branch
  brd = branch -d
  brD = branch -D
  merged = branch --merged
  st = status
  aa = add -A .
  cm = commit -m
  aacm = !git add -A . && git commit -m
  cp = cherry-pick
  amend = commit --amend -m
  master = !git checkout master && git pull origin
  po = push origin
  pom = push origin master
  poh = push origin HEAD
  plo = pull origin
  plom = pull origin master
  ploh = pull origin HEAD
  unstage = reset --soft HEAD^
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  f = "!git ls-files | grep -i"
  gr = grep -Ii
  la = "!git config -l | grep alias | cut -c 7-"
